<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/home/admin1/IdeaProjects/SeleniumNew/src/test/java/com/bridgelabz/selenium/CrossBrowserScript.java">
        <classes>
            <class name="com.bridgelabz.selenium.CrossBrowserScript">
                <methods>
                    <include name="testParameterWithXML"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>